<% layout('layouts/app') %>
<h1>All Places</h1>
<a href="/places/create">
  <button class="btn btn-primary">Add New Place</button>
</a>
<div class="d-flex flex-wrap">
  <% for(const place of places) {%>
  <div class="card my-3 mx-2" style="width: 18rem">
    <img
      src="<%= place.image %>"
      class="card-img-top"
      style="max-height: 150px"
      alt="..." />
    <div class="card-body d-flex flex-column">
      <h5 class="card-title"><%= place.title %></h5>
      <span>Rp. <%= place.price %></span>
      <p class="card-text"><%= place.description %></p>
      <a href="/places/<%= place._id %>" class="btn btn-primary mt-auto w-100"
        >Detail</a
      >
    </div>
  </div>
  <% } %>
</div>
